.Graph {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px 8px;
}

.Graph-svg {
    display: block;
    flex: 1;
}

.Graph-legend {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.Graph-legend.montage-invisible {
    display: none;
}

.Graph-legend > * + * {
    margin-left: 16px;
}

.Graph-tooltip-container {
    position: fixed;
}

.Graph-tooltip {
    position: relative;
    opacity: 0;
    pointer-events: none;
}

.Graph-tooltip--visible {
    opacity: 1;
    pointer-events: all;
}
